<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/public/css/prism.css">
  <link rel="stylesheet" href="/public/css/thorium.css">
  <link rel="stylesheet" href="/public/css/styleguide.css">
  <link rel="stylesheet" href="/public/css/naas.css">
  <title>Telus NaaS</title>
</head>
<body>
  {{{ content }}}

  <script src="/public/js/naas.js"></script>
</body>
</html>
