<article class="article-container container">
  <div class="grid-row">
    {{#ifEqual style "left"}}
      <div class="small-6 top-spaced">
        <img src="{{ image.url }}" alt="Article Image" />
      </div>
    {{/ifEqual}}
    <div class="small-6 top-spaced">
      <h2>{{ title }}</h2>
      <p>{{ description }}</p>
      <a href="{{ ctaUrl }}" target="_blank">{{ ctaCopy }}</a>
    </div>
    {{#ifEqual style "right"}}
      <div class="small-6 top-spaced">
        <img src="{{ image.url }}" alt="Article Image" />
      </div>
    {{/ifEqual}}
  </div>
</article>
